headscale/control-plane/.env
headscale/node/.env
headscale/control-plane/data/
headscale/node/state/
headscale/control-plane/caddy_data/
headscale/control-plane/caddy_config/
headscale/infra/terraform/.env
headscale/infra/terraform/.terraform/
headscale/infra/terraform/.terraform.lock.hcl
headscale/infra/terraform/terraform.tfstate
headscale/infra/terraform/terraform.tfstate.*
headscale/infra/terraform/terraform.tfvars
headscale/infra/terraform/generated/
tailscale-saas/node/.env
tailscale-saas/node/state/
zerotier/node/.env
zerotier/node/state/
