TAILSCALE_IMAGE=tailscale/tailscale:v1.98.8
TS_HOSTNAME=pc-01
TS_AUTHKEY=RELLENAR_CON_PREAUTH_KEY
TS_AUTH_ONCE=true
TS_STATE_DIR=/var/lib/tailscale
TS_USERSPACE=false
TS_ACCEPT_DNS=false
TS_EXTRA_ARGS=--login-server=https://vpn.example.com
